# Ignore node_modules and build files
node_modules/
dist/
build/

# Ignore editor files
.vscode/
*.swp
*.swo

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore log files
*.log
/convert-to-pdf.ps1
/cover-letter-va.html
/cover-letter-va.md
/cover-letter-va.pdf
